@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



*{
  /* background-color: rgb(255, 255, 255); */
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;

  
}

